:root{
    --fundo:	#DC143C;
    --cor-frente:#FF8C00;
    --cor-verso: #E6E6FA;
    --destque:	#ADFF2F;
    --preto: #000000;
    --braco:#ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0%;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--destque);
    color: var(--preto);
    width: 100%;

}